/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a default font for the entire application */
body {
    font-family: 'Rubik', sans-serif;
    color: #333;
    line-height: 1.6;
}



/* Header styles */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05609c; 
}

header nav{
    width: 80%;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.add_post, .home{
    color: white;
}

.add_post:hover, .home:hover{
    border-bottom: 2px solid white;
}

/* main */
.container{
    width: 80%;
    margin: 50px auto;
}

h3{
    font-size: 35px;
    font-weight: 300;
}

form{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}


